.login-form {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.login-form .label {
    display: block;
    margin: 30px auto;
}

.login-form span {
    display: block;
    margin-bottom: 6px;
}

.login-form input {
    padding: 5px;
    font-size: 1em;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: thin;
}

.login-form button {
    display: block;
    margin: 10px auto;
    background-color: #C4E0F9;
}
