ul {
    list-style-type: none;
}

.nft-item .delete-x{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    text-align: center;
    color: grey;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.title-container {
    margin-bottom: 10px;
    font-weight: 700;
}

.nft-list a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: #2081E2
  }

  .nft-item {
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #e6e6e6;
    padding: 30px;
    border-radius: 8px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .nft-item img {
    max-width: 300px;
    border-radius: 3%;
  }

  img.eth-logo {
    max-width: 12px;
  }

  .nft-description {
    font-size: 20px;
  }