.signup-form {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.signup-form .label {
    display: block;
    margin: 30px auto;
}

.signup-form span {
    display: block;
    margin-bottom: 6px;
}

.signup-form input {
    padding: 5px;
    font-size: 1em;
    width: 25%;
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: thin;
}

.signup-form button {
    display: block;
    margin: 10px auto;
}

p {
    font-family: 'Work Sans', sans-serif;
}