.signup-form {
    text-align: center;
}

.signup-form .label {
    display: block;
    margin: 30px auto;
}

.signup-form span {
    display: block;
    margin-bottom: 6px;
}

.signup-form input {
    padding: 1px 1px;
    font-size: 1em;
    width: 25%;
}

.signup-form button {
    display: block;
    margin: 10px auto;
}